<section class="login-sec">
  <div class="container">
    <div class="row">
      <div class="progressBar"><app-loader></app-loader></div>
      <div class="column full-col">
        <div class="login-wrapper">
          <div class="row">
            <div class="column half-col pr-0">
              <div class="login-left">
                <div class="inner-sec">
                  <div class="logo-sec"><img src="/assets/images/SL-logo-new1.png" alt="Logo" /></div>
                  <div class="video-wrapper"><img src="/assets/images/monitor.svg" alt="Monitor" /></div>
                </div>
              </div>
            </div>
            <div class="column half-col pl-0">
              <div class="login-right">
                <div class="inner-sec">
                  <ng-container *ngIf="showInvalidPage == 'signup'">
                    <h1>Sign Up</h1>
                    <!-- <p>Sign up below and create your account</p> -->
                    <form
                      [formGroup]="formRegister"
                      (ngSubmit)="onRegister()"
                      autocomplete="off"
                      class="ng-dirty ng-touched ng-invalid"
                    >
                      <div class="row">
                        <div class="column half-col">
                          <div class="form-group">
                            <label>Register as</label>
                            <mat-form-field class="text">
                              <mat-select formControlName="role">
                                <mat-option *ngFor="let role of roles" [value]="role.value">
                                  {{ role.viewValue || "None" }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="column half-col">
                          <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" [ngClass]="{error: (f.username.invalid && f.username.dirty) || (submitted && f.username.invalid)}" formControlName="username" />
                            <div  class="errorMessage" *ngIf="
                                (!!f.username.invalid && !!f.username.dirty && !!f.username.errors.email) ||
                                (submitted && !!f.username.invalid && !!f.username.errors.email) ||
                                (!!f.username.invalid && !!f.username.dirty) || (submitted && !!f.username.invalid)">
                              Please enter a valid email address.
                            </div>
                          </div>
                        </div>
                        <div class="column half-col">
                          <div class="form-group">
                            <label>First Name</label>
                            <input type="text" [ngClass]="{error: (f.firstName.invalid && f.firstName.dirty) || (submitted && f.firstName.invalid)  }"
                              formControlName="firstName"/>
                            <div class="errorMessage" *ngIf="(!!f.firstName.invalid && !!f.firstName.dirty && !!f.firstName.errors.email) || (submitted && !!f.firstName.invalid && !!f.firstName.errors.email) || (!!f.firstName.invalid && !!f.firstName.dirty) ||
                            (submitted && !!f.firstName.invalid)">
                               <div *ngIf="f.firstName.errors?.required">Please enter First Name.</div>
                               <div *ngIf="f.firstName.errors?.minlength">First Name must be at least 3 characters long.</div> 
                               <div *ngIf="f.firstName.errors?.maxlength">First Name should be at less than 20 characters.</div> 
                            </div>
                          </div>
                        </div>
                        <div class="column half-col">
                          <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" [ngClass]="{error: (f.lastName.invalid && f.lastName.dirty) || (submitted && f.lastName.invalid) }" formControlName="lastName"/>
                     
                            <div class="errorMessage" *ngIf="(!!f.lastName.invalid && !!f.lastName.dirty && !!f.lastName.errors.email) || (submitted && !!f.lastName.invalid && !!f.lastName.errors.email) || (!!f.lastName.invalid && !!f.lastName.dirty) ||
                            (submitted && !!f.lastName.invalid)">
                              <div *ngIf="f.lastName.errors?.minlength">Last Name must be at least 3 characters long.</div> 
                              <div *ngIf="f.lastName.errors?.maxlength">Last Name should be at less than 20 characters.</div> 
                          </div>
                          </div>
                        </div>
                        
                        <div class="column half-col">
                          <div  class="form-group" [ngClass]="{ error: (f.password.invalid && f.password.dirty) || (submitted && f.password.invalid) }">
                            <label>Password</label>
                            <div class="input-group">
                              <input [type]="showPassword ? 'text' : 'password'" [ngClass]="{error: (f.password.invalid && f.password.dirty) || (submitted && f.password.invalid) }" formControlName="password"/>
                              <button type="button" (click)="togglePasswordVisibility()">
                                <i class="icon-eye-show" *ngIf="showPassword"></i>
                                <i class="icon-eye-hide" *ngIf="!showPassword"></i>
                              </button>
                            </div>
                            <div class="errorMessage" *ngIf="submitted && !!f.password.invalid">Please enter Password.</div>
                            <div class="condition">
                              <ul class="conditionList">
                                <li [ngClass]="{notValidated:f.password.pristine || (f.password.errors && f.password.errors.required) ||
                                      (f.password.dirty && f.password.errors && f.password.errors.minlength)}">
                                  <mat-icon>radio_button_checked</mat-icon>Contains minimum of 8 characters.
                                </li>
                                <li [ngClass]="{notValidated:f.password.pristine || (f.password.errors && f.password.errors.required) ||
                                  (f.password.dirty && f.password.errors && f.password.errors.maxlength)}">
                              <mat-icon>radio_button_checked</mat-icon>Contains less then 20 characters.
                               </li>
                                <li [ngClass]="{notValidated:f.password.pristine || (f.password.errors && f.password.errors.required) ||
                                      (f.password.errors && f.password.errors.number)}">
                                  <mat-icon>radio_button_checked</mat-icon>Contains a number.
                                </li>
                                <li [ngClass]="{notValidated: f.password.pristine || (f.password.errors && f.password.errors.required) ||
                                      (f.password.errors && f.password.errors.uppercase) }" >
                                  <mat-icon>radio_button_checked</mat-icon>Contains an upper case letter.
                                </li>
                                <li  [ngClass]="{notValidated: f.password.pristine ||
                                      (f.password.errors && f.password.errors.required) ||
                                      (f.password.errors && f.password.errors.lowercase)}" >
                                  <mat-icon>radio_button_checked</mat-icon>Contains a lower case letter.
                                </li>
                                <li [ngClass]="{notValidated: f.password.pristine ||
                                      (f.password.errors && f.password.errors.required) ||
                                      (f.password.errors && f.password.errors.specialcharacter)}" >
                                  <mat-icon>radio_button_checked</mat-icon>Contains a special character.
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="column half-col">
                          <div class="form-group">
                            <label>Confirm Password</label>
                            <div class="input-group">
                              <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmpassword"
                                [ngClass]="{ error: errors && !f.confirmpassword.pristine }"                              />
                              <button type="button" (click)="toggleConfirmPasswordVisibility()">
                                <i class="icon-eye-show" *ngIf="showConfirmPassword"></i
                                ><i class="icon-eye-hide" *ngIf="!showConfirmPassword"></i>
                              </button>
                            </div>
                            <div class="errorMessage" *ngIf="!f.confirmpassword.pristine && (errors && !!errors.notSame)">
                              confirm Password is not matched
                            </div>
                          </div>
                        </div>
                        <div class="column full-col">
                          <div class="input-group">
                            <!-- <ngx-recaptcha2 #captchaElem class="dhb"
                           [siteKey]="'6LdE6c8UAAAAAMN2BRGwbzIEQLh2UwviTtyNZY30'"
                          (reset)="handleReset()"
                          (expire)="handleExpire()"
                          (load)="handleLoad()"
                          (success)="handleSuccess($event)"
                          [useGlobalDomain]="false"
                          [size]="size"
                          [hl]="lang"
                          [theme]="theme"
                          [type]="type"
                          formControlName="recaptcha">
                          </ngx-recaptcha2>-->
                            <ngx-recaptcha2
                              #captchaElem
                              [siteKey]="captchaSiteKey"
                              [useGlobalDomain]="false"
                              formControlName="recaptcha"
                            ></ngx-recaptcha2>
                          </div>
                        </div>

                        <div class="column full-col margin">
                          <div class="form-group" (mousedown)="openTermsConditions()">
                            <mat-checkbox
                              [required]="true"
                              formControlName="isAgree"
                              [(ngModel)]="checked"
                              (keydown)="openTermsConditions()"
                              ><span
                                >I agree to the SingleLedger Terms &amp; Conditions <br />
                                and Privacy Policy</span
                              ></mat-checkbox
                            >
                          </div>
                        </div>
                        <div class="column full-col">
                          <button type="submit" class="login-btn" matRipple><i class="icon-submit"></i>Submit</button>
                        </div>
                      </div>
                    </form>
                    <div class="link-sec sign-up">Already have an account? <a [routerLink]="['/login']">Sign In</a></div>
                  </ng-container>
                  <h2 style="color:white" *ngIf="verifyInviteRes && showInvalidPage == 'invalidMessage'">
                    {{ verifyInviteRes.message }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
