
<section class="login-sec">
  <div class="container">
    <div class="row">
      <div class="progressBar">
        <app-loader></app-loader>
    </div>
      <div class="column full-col">
        <div class="login-wrapper">
          <div class="row">
            <div class="column half-col pr-0">
              <div class="login-left">
                <div class="inner-sec">
                  <div class="logo-sec">
                    <img src="/assets/images/SL-logo-new1.png" alt="Logo">
                  </div>
                  <div class="video-wrapper" (click)="openVideo('https://www.youtube.com/embed/J5tWbmD7alE')">
                    <img src="/assets/images/monitor.png" alt="Monitor">
                  </div>
                </div>
              </div>
            </div>
            <div class="column half-col pl-0">
              <div class="login-right">
                <div class="inner-sec" *ngIf="!isMailSent">
                  <h1>Forget Password</h1>
                  <p>Enter email for forget password</p>
                  <form [formGroup]="formLogin" (ngSubmit)="onForgot()"  autocomplete="off" class="ng-dirty ng-touched ng-invalid" >
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" class=""
                        [ngClass]="{error: (f.username.invalid && f.username.dirty) || (submitted && f.username.invalid)}"
                        formControlName="username" #email />
                      <div class="errorMessage"
                        *ngIf="(!!f?.username.invalid && !!f?.username.dirty && !!f?.username.errors.email) || (submitted && f?.username.invalid && f?.username.errors.email)">
                        Please enter a valid email address.</div>
                    </div>
                    <button type="submit" class="login-btn" [disabled]="formLogin.invalid"><i
                        class="icon-submit"></i>Submit</button>
                    <a [routerLink]="['/login']">
                       Login</a>
                  </form>

                </div>
                <div *ngIf="isMailSent" class="confirm-message inner-sec">
                  <div class="mailSent">
                    <div class="image-icon">
                      <img src="/assets/images/mail-sent1.png" alt="Email Sent" />
                    </div>

                    <div class="successHead leftBorderBox">A link to reset the password has been sent to your email address. If you do not receive the email within few minutes, please check your spam folder.</div>
                    <ul class="formFieldsList">
                      <li class="alnCenter" class="linkBtnWrapper"><a [routerLink]="['/login']">
                        <!-- <a [routerLink]="['/' + ((role == userRole.Borrower)?resources.borrower:resources.lender) + '/authentication/login']" class="linkBtn">Login</a> -->
                        <button type="submit" class="login-btn" ><i
                          class="icon-submit"></i>Login</button></a>

                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
