<section class="login-sec">
  <div class="container">
    <div class="row">
      <div class="progressBar">
        <app-loader></app-loader>
    </div>
      <div class="column full-col">
        <div class="login-wrapper">
          <div class="row">
            <div class="column half-col pr-0">
              <div class="login-left">
                <div class="inner-sec">
                  <div class="logo-sec">
                    <img src="/assets/images/SL-logo-new1.png" alt="Logo">
                  </div>
                  <div class="video-wrapper" (click)="openDialog('https://www.youtube.com/embed/J5tWbmD7alE')">
                    <img src="/assets/images/monitor.png" alt="Monitor">
                  </div>
                </div>
              </div>
            </div>
            <div class="column half-col pl-0">
              <div class="login-right">
                <div class="inner-sec">
                  <ng-container *ngIf="showInvalidPage; else invalidChangePass">
                    <h1>Forget Password</h1>
                    <p>Please enter new password.</p>
                    <form [formGroup]="formReset" (ngSubmit)="onReset()" autocomplete="off" class="ng-dirty ng-touched ng-invalid">
                      <div class="form-group"
                        [ngClass]="{error: (f.password.invalid && f.password.dirty) || (submitted && f.password.invalid)}">
                        <!-- <label>Password</label>
                        <div class="input-group">
                          <input [type]="showPassword?'text':'password'" class=""
                            [ngClass]="{error: (f.password.invalid && f.password.dirty) || (submitted && f.password.invalid)}"
                            formControlName="password" />
                          <button type="button" (click)="togglePasswordVisibility()"><i
                              class="icon-eye-hide"></i></button>
                          <div class="errorMessage"
                            *ngIf="(!!f.password.invalid && !!f.password.dirty && !!f.password.errors.minlength) || (submitted && f.password.invalid && f.password.errors.minlength)">
                            Minimum 6 characters needed.</div>
                        </div> -->
                        <label>New Password</label>
                        <div class="input-group">
                          <input [type]="showPassword?'text':'password'" class=""
                          [ngClass]="{error: (f.password.invalid && f.password.dirty) || (submitted && f.password.invalid)}"
                          formControlName="password" />
                          <button type="button" (click)="togglePasswordVisibility()"><i class="icon-eye-show" *ngIf="showPassword"></i><i
                            class="icon-eye-hide" *ngIf="!showPassword"></i></button>
                          </div>
                        <div class="errorMessage" *ngIf="(submitted && !!f.password.invalid) ">Please enter
                          Password.</div>
                        <div class="condition">
                          <ul class="conditionList">
                            <li
                              [ngClass]="{notValidated: (f.password.pristine) || (f.password.errors && f.password.errors.required) || (f.password.dirty && f.password.errors && f.password.errors.minlength)}">
                              <mat-icon>radio_button_checked</mat-icon>Contains minimum of 6 characters.
                            </li>
                            <li
                              [ngClass]="{notValidated: (f.password.pristine) || (f.password.errors && f.password.errors.required) || (f.password.errors && f.password.errors.number)}">
                              <mat-icon>radio_button_checked</mat-icon>Contains a number.
                            </li>
                            <li
                              [ngClass]="{notValidated: (f.password.pristine) || (f.password.errors && f.password.errors.required) || (f.password.errors && f.password.errors.uppercase)}">
                              <mat-icon>radio_button_checked</mat-icon>Contains an upper case letter.
                            </li>
                            <li
                              [ngClass]="{notValidated: (f.password.pristine) || (f.password.errors && f.password.errors.required) || (f.password.errors && f.password.errors.lowercase)}">
                              <mat-icon>radio_button_checked</mat-icon>Contains a lower case letter.
                            </li>
                            <li
                              [ngClass]="{notValidated: (f.password.pristine) || (f.password.errors && f.password.errors.required) || (f.password.errors && f.password.errors.specialcharacter)}">
                              <mat-icon>radio_button_checked</mat-icon>Contains a special character.
                            </li>
                          </ul>
                        </div>
                      </div>


                        <div class="form-group">
                      <label>Confirm Password</label>
                        <div class="input-group">
                          <input [type]="showConfirmPassword?'text':'password'" class="" formControlName="confirmpassword"
                           [ngClass]="{error: errors && (!f.confirmpassword.pristine)}" />
                          <button type="button" (click)="toggleConfirmPasswordVisibility()"><i class="icon-eye-show" *ngIf="showConfirmPassword"></i><i
                            class="icon-eye-hide" *ngIf="!showConfirmPassword"></i></button>
                        </div>
                        <div class="errorMessage"
                        *ngIf="((!f.confirmpassword.pristine) && (errors && !!errors.notSame))">confirm
                        Password is not matched</div>
                      </div>
                      <div>
                        
                        <span *ngIf="!showUpdatePasswordMassage" ><b>sdgsdfgdfgsdfgASG</b></span>
                      </div>
                      <button type="submit" class="login-btn" [disabled]="!formReset.valid"><i
                          class="icon-submit"></i>Update</button>
                    </form>
                  </ng-container>
                  <ng-template #invalidChangePass>
                    <h2 style="color:white;" *ngIf="checkResetPasswordStatus && !showInvalidPage">{{ checkResetPasswordStatus.message }}</h2>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
