<section class="login-sec">
  <div class="container">
    <div class="row">
      <div class="progressBar">
        <app-loader></app-loader>
    </div>
      <div class="column full-col">
        <div class="login-wrapper">
          <div class="row">
            <div class="column half-col pr-0">
              <div class="login-left">
                <div class="inner-sec">
                  <div class="logo-sec">
                    <img src="/assets/images/SL-logo-new1.png" alt="Logo">
                  </div>
                  <div class="video-wrapper" (click)="openDialog('https://www.youtube.com/embed/J5tWbmD7alE')">
                    <img src="/assets/images/monitor.png" alt="Monitor">
                  </div>
                </div>
              </div>
            </div>
            <div class="column half-col pl-0">
              <div class="login-right">
                <div class="inner-sec">
                  <ng-container *ngIf="showInvalidPage; else invalidChangePass">
                    <h1>Forget Password</h1>
                    <p>Please enter new password.</p>
                    <form [formGroup]="formReset" (ngSubmit)="onReset()" autocomplete="off">
                      <div class="form-group">
                        <!-- <label>Password</label>
                        <div class="input-group">
                          <input [type]="showPassword?'text':'password'" class=""
                            [ngClass]="{error: (f.password.invalid && f.password.dirty) || (submitted && f.password.invalid)}"
                            formControlName="password" />
                          <button type="button" (click)="togglePasswordVisibility()"><i
                              class="icon-eye-hide"></i></button>
                          <div class="errorMessage"
                            *ngIf="(!!f.password.invalid && !!f.password.dirty && !!f.password.errors.minlength) || (submitted && f.password.invalid && f.password.errors.minlength)">
                            Minimum 6 characters needed.</div>
                        </div> -->
                        <label>New Password</label>
                        <div class="input-group">
                          <input [type]="showPassword?'text':'password'" class="" formControlName="password" />
                          <button type="button" (click)="togglePasswordVisibility()"><i class="icon-eye-show" *ngIf="showPassword"></i><i
                            class="icon-eye-hide" *ngIf="!showPassword"></i></button>
                        </div>
                        <label>Confirm Password</label>
                        <div class="input-group">
                          <input [type]="showPassword?'text':'password'" class="" formControlName="confirmpassword" />
                          <button type="button" (click)="togglePasswordVisibility()"><i class="icon-eye-show" *ngIf="showPassword"></i><i
                            class="icon-eye-hide" *ngIf="!showPassword"></i></button>
                        </div>
                        <div class="errorMessage"
                          *ngIf="((!f.confirmpassword.pristine) && (f.confirmpassword.errors && !!f.confirmpassword.errors.notSame))">
                          confirm
                          Password is not matched</div>
                      </div>
                      <button type="submit" class="login-btn" [disabled]="!formReset.valid"><i
                          class="icon-submit"></i>Save</button>
                    </form>
                  </ng-container>
                  <ng-template #invalidChangePass>
                    <h2 style="color:white;font-size: 1rem;" *ngIf="checkResetPasswordStatus && !showInvalidPage">{{ checkResetPasswordStatus.message }}</h2>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
