.customers{
    line-height: 10px;
    .text-label{
        font-size: 0.93rem;
        color: #3c3c3c;
        font-weight: 700;
        padding-bottom: 0.5em;
    }
    .select-box{
        padding-left: 10px;
    }
    .customer-list{
        border: 1px solid #00add8;
        border-radius: 5px;
        margin: 10px 0;
        background: #e8f4f7;
        .ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .customer-name{

                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 10px;
            }
            li{
                flex-grow: 1;
                text-align: center;
                &.status{
                    &.active{
                        ::ng-deep mat-icon {
                            color: #28a745;
                            font-size: 16px !important;
                            height: 16px !important;
                        }
                    } 
                    &.inactive{
                        ::ng-deep mat-icon {
                            color: #dc3545;
                            font-size: 16px;
                            height: 16px;

                        }
                    } 
                }
            }
            ul{
                display: inline-block;
                li{
                    margin: 15px 0;
                }
            }
        }
        .primary-text{
            font-size: 0.93rem;
            color: #3c3c3c;
            font-weight: 700;
        }
        .secondary-text{
            color: #7a9298;
            font-size: 0.9em;
            font-weight: 500;
        }
      
    }
    .invite{
        text-align: right;
        padding-right: 10px;
    }
    .headerDivider {
        border-right: 2px solid #c1c8ce;
        height: 45px;
        margin-right: 10px;
        margin-left: 10px
    }
}
::ng-deep .mat-select-value {
    display: table !important;
}
