<div class="title">
  <h2>{{title|| 'N/A' }}</h2>
</div>
<div class="searchPanel clearfix" *ngIf="customers && customers.length>0">
  <form  novalidate autocomplete="off">
    <ul class="floatingList searchBlock">
      <li>
        <label class="labels">Filter For</label>
        <input type="text" class="fields" placeholder="Name" />
      </li>
      <li class="smallFields">
        <label class="labels">From</label>
        <input type="text" class="fields calendar" />
      </li>
      <li class="smallFields">
        <label class="labels">To</label>
        <input type="text" class="fields calendar" />
      </li>
      <li class="smallFields">
        <label class="labels">Status</label>
        <select class="fields">
          <option disabled value style="display:none"></option>
          <option *ngFor="let status of status" [value]="status.value">
            {{status.viewValue|| 'N/A' }}
          </option>
        </select>
      </li>
      <li>
        <ul>
          <li>
            <input type="submit" class="btn btn-medium uppercase btn-solid btn-deepblue" value="Filter" />
          </li>
          <li>
            <input type="Reset" class="btn btn-medium uppercase btn-solid" value="Reset" />
          </li>
        </ul>
      </li>

    </ul>
  </form>
</div>
<div class="customers">
    <!-- <div class="select-box" *ngIf="Totalrec>0">

            <span class="text-label">Select as all<i class="icon-arrow-down" ></i>
                   <mat-form-field>
                      <mat-select [(value)]="selected"  multiple>
                        <mat-option *ngFor="let status of StatusList" [value]="status">{{status|| 'N/A' }}</mat-option>
                      </mat-select>
                    </mat-form-field> 
                    <div class="status-modal">
                        <mat-radio-group
                        class="example-radio-group"
                        >
                        <mat-radio-button class="example-radio-button" *ngFor="let status of StatusList" [value]="status">
                          {{status|| 'N/A' }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>

              </span>
    </div> -->
    <div class="bills-content mat-elevation-z8">
      <div class="example-container">
        <table mat-table [dataSource]="dataSource" *ngIf="Totalrec>0">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select" >
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)"
                            [disabled]="row.Status=='Active'">
              </mat-checkbox>
            </td>
          </ng-container>
            {{element|json }}
          <!-- Number Column -->
          <ng-container matColumnDef="CustomerName" sticky>
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.givenname }} </td>
          </ng-container>
          <!-- Block chain Id Column -->
          <ng-container matColumnDef="ContactEmail">
            <th mat-header-cell *matHeaderCellDef> Contact Email</th>
            <td mat-cell *matCellDef="let element"> {{element?.email|| 'N/A' }} </td>
          </ng-container>
          <!-- Date Column -->
          <ng-container matColumnDef="RegisterDate">
            <th mat-header-cell *matHeaderCellDef> CreatedDate </th>
            <td mat-cell *matCellDef="let element"> {{element?.createdat|date }} </td>
          </ng-container>
          <ng-container matColumnDef="Organizaton">
              <th mat-header-cell *matHeaderCellDef> Organizaton </th>
              <td mat-cell *matCellDef="let element"> {{platformid | organisationpipe }} </td>
            </ng-container>

          <!-- Due Date Column -->
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon *ngIf="element?.isdeleted" [ngClass]="{'inactive':element?.isdeleted }">radio_button_unchecked</mat-icon>
              <mat-icon *ngIf="element?.isactive" [ngClass]="{'active':element?.isactive}">radio_button_checked</mat-icon>
            </td>
          </ng-container>

          <!-- Vendor Column -->
          <ng-container matColumnDef="BlockChainID">
            <th mat-header-cell *matHeaderCellDef> BlockChain ID </th>
            <td mat-cell *matCellDef="let element"> <div class="ellipse">{{element?.companyblockchainid|| 'N/A' }}</div> </td>
          </ng-container>
          <!-- Total Column -->
          <ng-container matColumnDef="Invite">
            <th mat-header-cell *matHeaderCellDef> Invite</th>
            <td mat-cell *matCellDef="let element">
              <!-- <button class="btn btn-small uppercase btn-solid btn-deepblue" *ngIf="element?.isactive=='Active'" [disabled]="{'disable':element?.isactive === 'Active'}"><i class="icon-arrow-curve-right"></i>INVITED</button> -->

              <!-- *ngIf="element?.isactive=='Inactive' && element?.Reinviteflag!=='true'" -->
              <button (click)="postInvite(element)" *ngIf="element?.invitecount == 0" class="btn btn-small uppercase btn-solid btn-deepblue" ><i class="icon-arrow-curve-right"></i>INVITE</button>
              <button (click)="postInvite(element)" *ngIf="element?.invitecount > 0" class="btn btn-small uppercase btn-solid btn-deepblue" ><i class="icon-arrow-curve-right"></i>RESEND INVITE</button>
              <!-- <button class="btn btn-small uppercase btn-solid btn-navyblue" *ngIf="element?.isactive=='Inactive' && element?.Reinviteflag=='true'"><i class="icon-arrow-curve-left"></i>RE-SEND MAIL</button> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="star" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <span><i  class="icon-arrow-right"></i></span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="row.Status!=='Active' && selection.toggle(row)" [class.selected]="selection.isSelected(row)">
          </tr>

        </table>
        <div class="no-record" *ngIf="Totalrec === 0"> <span class="norecord-text"> No records found</span></div>
      </div>
      <!-- <div class="paginator-container" *ngIf="Totalrec>0">
          <button class="btn btn-small uppercase btn-solid btn-deepblue invite"><i class="icon-arrow-curve-right"></i>INVITE</button>
          <mat-paginator appStylePaginator hidePageSize [length]="1"
          [pageSize]="1" (page)="handlePage($event)"></mat-paginator>
      </div> -->

    </div>
</div>

