  <div class="wrapper">
  <div class="navigation" [class.open]="isNavOpen">
      <div class="head">
        <!-- <app-logo-light></app-logo-light> -->
        <div class="logoText">
            <app-logo></app-logo>
         
          </div>
        <i class="icon-cross" class="closeBtn icon-cross"></i>
      </div>
      <mat-accordion>
              <mat-expansion-panel routerLinkActive="active" [@.disabled]="true">
                  <mat-expansion-panel-header>
                      <i class="icon-company"></i><a [routerLink]="['/business/company-info']">Company Info</a>
                  </mat-expansion-panel-header>
              </mat-expansion-panel>
              <!-- <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
                  <mat-expansion-panel-header >
                      <i class="icon-dashboard"></i><a [routerLink]="['/business/dashboard']" routerLinkActive="active" >Dashboard</a>
                  </mat-expansion-panel-header>
              </mat-expansion-panel> -->
              <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
                      <mat-expansion-panel-header>
                          <i class="icon-customer"></i><a [routerLink]="['/business/customers']" routerLinkActive="active">Customers</a>
                      </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel routerLinkActive="active" [@.disabled]="true">
                          <mat-expansion-panel-header>
                              <i class="icon-vendor"></i><a [routerLink]="['/business/vendors']" routerLinkActive="active">Vendors</a>
                          </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
                      <mat-expansion-panel-header>
                          <i class="icon-invoice"></i><a [routerLink]="['/business/invoices']">Invoices</a>
                      </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
                  <mat-expansion-panel-header>
                      <i class="icon-bill"></i><a [routerLink]="['/business/bills']" >Bills</a>
                  </mat-expansion-panel-header>
          </mat-expansion-panel>
          <!-- <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
              <mat-expansion-panel-header>
                  <i class="icon-bill"></i><a [routerLink]="['/businesslist']" >Business List</a>
              </mat-expansion-panel-header>
          </mat-expansion-panel> -->
          <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
            <mat-expansion-panel-header>
                <i class="icon-accounts-mapping"></i><a [routerLink]="['/business/suppliers']" title='Chart Of Account Mapping'>COA Mapping</a>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
          <mat-expansion-panel-header>
              <i class="icon-chart-of-accounts"></i><a [routerLink]="['/business/chart-of-account']" >Chart Of Accounts</a>
          </mat-expansion-panel-header>
    </mat-expansion-panel>
        <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
              <mat-expansion-panel-header>
                  <i class="icon-connect-business"></i><a [routerLink]="['/connectbusiness']" >Connect Business</a>
              </mat-expansion-panel-header>

    </mat-expansion-panel>
        <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" class="warining">
              <mat-expansion-panel-header>
                <img src="../../../assets/images/wraning-icon.png" alt="wraning-icon" *ngIf="!textmap">
                  <i class="icon-connect-business"></i><a [routerLink]="['./tax-mapping']" >Tax Mapping</a>
              </mat-expansion-panel-header>

        </mat-expansion-panel>

      </mat-accordion>
      <div class="icon-hover">
        <img src="../../../assets/images/interface.png">
        <div class="help">
          <div class="arrow"></div>
          <span>Click below to learn more about SignIn.</span>
            <a href="https://www.singleledger.org/help.html#Side-bar" target="_blank"><span>Learn More</span></a>
          </div>
       
        </div> 
  </div>
<!-- NAVIGATION ENDS HERE -->

<div class="navigationOverlay" *ngIf="isNavOpen" (click)="closeNav()"></div>


<div class="mainContainer">
    <div class="header clearfix">

        <div class="nav-mobile" (click)="openNav()"><a id="nav-toggle"><span></span></a></div>
        <span class="blueHeading modalBlock" ><span class="ellipsis">{{CurrentCompanyName|| 'None' }}</span><i class="arrow"></i>
        <div class="modal">
          <ul>
            <li class="prominent">
              <table class="heading">
                <tr>
                  <td><i class="icon-list"></i></td>
                  <td>Business(s) List</td>
                  <td><a [routerLink]="['/businesslist']">View All</a></td>
                </tr>
              </table>
              <ul>
                <li *ngFor="let business of businessList">
                  <a href="javascript:void(0)" [ngStyle]="business.isSelected == 0 && {'font-weight': '800'}" (click)="viewBusiness(business.id, business.platformId)">- {{business.legalName|| 'None' }} </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </span>
      <div class="userInfo">
        <app-userinfo></app-userinfo>
        
      </div>
      <div class="logoutButton">
        <app-logout></app-logout>
      </div>
    </div>
    <div class="progressBar">
      <app-loader></app-loader>
  </div>
  <div class="content" id="scrollableDiv">
    <div class="contentWrap">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="progressBar">
    <app-loader></app-loader>
</div> -->
</div>


</div>
