@mobilesMax: 519px;
@laptopsMin:1200px;

.blueHeading.modalBlock{
    .modal{
        left: 0;

        > ul > li a i {
            font-size: 1.1em;
            margin-top: -0.2em;
        }

        .linkButton{
            padding-top: 0.7em;

            a{
                font-weight: 700;
                text-transform: uppercase;
                font-size: 0.7em;
            }
        }
    }
}

.btn{
    color: #93aeae;
    font-size: 0.6em;
    font-weight: 700;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px #dbdbdb;
    padding: 0.6em 1em;
    border-radius: 0.5em;
    margin-left: 1.5em;

    &:hover{
        background-color: #93aeae;
        color: #ffffff;
        box-shadow: none;
    }

    @media screen and (max-width: @mobilesMax){
        display: none;
    }
}
.error
{
  background-color:#efc6c6;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
 // padding: 3px 21px 10px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 28px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

.nav-mobile {
  position: relative;
  top: 0;
  left: 0;
  display: none;
  background: #00add8;
  height: 4em;
  width: 62px;

}

.header .blueHeading {
  top: 0;
  padding-left: 10px;
}
@media screen and (max-width: @laptopsMin){
  .nav-mobile {
     display: inline-block;
  }
  .header .blueHeading {
    top: -20px;
    padding-left: 10px;
  }

}
.warining{
  position: relative;
}

img{
  width: 26px;
  position: absolute;
  right: 11px;
  bottom: 9px;
}
