<div class="wrapper">
  <div class="navigation" [class.open]="isNavOpen">
      <div class="head">
        <!-- <app-logo-light></app-logo-light> -->
        <div class="logoText">
            <app-logo></app-logo>
          </div>
        <i class="icon-cross" class="closeBtn icon-cross"></i>
      </div>
      <mat-accordion>
              <mat-expansion-panel routerLinkActive="active" [@.disabled]="true">
                  <mat-expansion-panel-header>
                      <i class="icon-company"></i><a [routerLink]="['/business/company-info']">Company Info</a>
                  </mat-expansion-panel-header>
              </mat-expansion-panel>
              <!-- <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
                  <mat-expansion-panel-header >
                      <i class="icon-dashboard"></i><a [routerLink]="['/business/dashboard']" routerLinkActive="active" >Dashboard</a>
                  </mat-expansion-panel-header>
              </mat-expansion-panel> -->
              <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
                      <mat-expansion-panel-header>
                          <i class="icon-customer"></i><a [routerLink]="['/business/customers']" routerLinkActive="active">Customers</a>
                      </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel routerLinkActive="active" [@.disabled]="true">
                          <mat-expansion-panel-header>
                              <i class="icon-vendor"></i><a [routerLink]="['/business/vendors']" routerLinkActive="active">Vendors</a>
                          </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
                      <mat-expansion-panel-header>
                          <i class="icon-invoice"></i><a [routerLink]="['/business/invoices']">Invoices</a>
                      </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
                  <mat-expansion-panel-header>
                      <i class="icon-bill"></i><a [routerLink]="['/business/bills']" >Bills</a>
                  </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
              <mat-expansion-panel-header>
                  <i class="icon-bill"></i><a [routerLink]="['/businesslist']" >Business List</a>
              </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
            <mat-expansion-panel-header>
                <i class="icon-bill"></i><a [routerLink]="['/business/suppliers']" title='Chart Of Account Mapping'>COA Mapping</a>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
          <mat-expansion-panel-header>
              <i class="icon-bill"></i><a [routerLink]="['/business/chart-of-account']" >Chart Of Account</a>
          </mat-expansion-panel-header>
    </mat-expansion-panel>
        <mat-expansion-panel routerLinkActive="active" [@.disabled]="true" >
              <mat-expansion-panel-header>
                  <i class="icon-bill"></i><a [routerLink]="['/connectbusiness']" >Connect Business</a>
              </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
  </div>
<!-- NAVIGATION ENDS HERE -->

<div class="navigationOverlay" *ngIf="isNavOpen" (click)="closeNav()"></div>


<div class="mainContainer">
    <div class="header clearfix">

        <div class="nav-mobile" (click)="openNav()"><a id="nav-toggle"><span></span></a></div>
        <span class="blueHeading modalBlock" ><span class="ellipsis">{{CurrentCompanyName}}</span><i class="arrow"></i>
        <div class="modal">
          <ul>
            <li class="prominent">
              <table class="heading">
                <tr>
                  <td><i class="icon-list"></i></td>
                  <td>Business(s) List</td>
                  <td><a [routerLink]="['/businesslist']">View All</a></td>
                </tr>
              </table>
              <ul>
                <li *ngFor="let business of businessList">
                  <a href="javascript:void(0)" (click)="viewBusiness(business.companyId)">- {{business.company.legalname}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </span>
      <div class="userInfo">
        <app-userinfo></app-userinfo>
      </div>
      <div class="logoutButton">
        <app-logout></app-logout>
      </div>
    </div>
  <div class="content" id="scrollableDiv">
    <div class="contentWrap">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-loader></app-loader>
</div>


</div>
