<div class="wrapper">
  <div class="header">
      <div class="progressBar">
          <app-loader></app-loader>
      </div>
    <div class="logoText">
      <app-logo></app-logo>
    </div>
    <div class="userInfo">
      <app-userinfo></app-userinfo>
    </div>
    <div class="logoutButton">
      <app-logout></app-logout>
    </div>
  </div>
<div class="dashboard-content">
  <div class="dashboard-content-header">
    <h3 class="link-color">The Accounting Software Selection Page</h3>
    <p>
      To allow einvoicing please click on your software logo below, you will be taken to an authorisation page.
      <br>We will only access data related to invoicing in accordance with our terms of use andd privacy policy. 
    </p>
    <div class="accounting-software">
      <h3>Select Your Accounting Software</h3>
      <ul class="accounting-software-list">
          <li>
            <div>
                <a >
                    <img mat-card-image src="assets/images/xero-logo.png" alt="">
                </a>
            </div>
            
          </li>
          <li>
            <a >
                <img mat-card-image src="assets/images/myob-logo1.png" alt="">
            </a>
          </li>
          <li class="active">
            <a (click)="onConnect()">
                <img mat-card-image src="assets/images/qb-logo.png" alt="">
            </a>
          </li>
          <li>
            <a>
                <img mat-card-image src="assets/images/myob-logo2.png" alt="">
            </a>
          </li>
        
        </ul>
    </div>
    
    <p><b>Note: </b> Single Ledger does not need to access to your accounting software password to provide our services (You will be able to freely change your password). 
      By logging on to your accounting software when redirected to the authorisation page(will be different from the usual login page), you are indicating which account you would like to connect to,
      verifing that you own the account and granting permission for Ledger to connect to your accounting software. You will be redirect back to Single Ledger the authorisation process.</p>
  </div>
</div>
</div>
