<div class="authForm">

  <div class="shadowBox">
      <div class="progressBar">
          <app-loader></app-loader>
      </div>
      <div class="left-container">
          <div class="logoHeader">
              <img src="/assets/images/SL-logo.svg" alt="Monitor">
          </div>
          <div class="video-wrapper" (click)="openDialog('https://www.youtube.com/embed/J5tWbmD7alE')">
                  <div class="monitor">
                      <img src="/assets/images/video-thumb.png" alt="Monitor">
                  </div>
          </div>

      </div>
      <div class="right-container">

          <ul class="headings">
              <li>
                <a>Change Password</a>
              </li>
            </ul>
            <form  [formGroup]="formLogin" (ngSubmit)="onReset()" novalidate autocomplete="off">
              <ul class="formFieldsList">
                <li>
                  <label class="labels newFormatting">New Password</label>
                  <input type="email" class="fields newFormatting"  [ngClass]="{error: (f.username.invalid && f.username.dirty) || (submitted && f.username.invalid)}" formControlName="username" #email/>
                  <div class="errorMessage" *ngIf="(!!f?.username.invalid && !!f?.username.dirty && !!f?.username.errors.email) || (submitted && f?.username.invalid && f?.username.errors.email)">Please enter a valid email address.</div>
                </li>
                <li>
                  <label class="labels newFormatting">Confrim Password</label>
                  <div class="password">
                      <input [type]="showPassword?'text':'password'" class="fields newFormatting"  [ngClass]="{error: (f.password.invalid && f.password.dirty) || (submitted && f.password.invalid)}" formControlName="password" />
                      <span  type="button" class="icon-eye-hide"  (click)="togglePasswordVisibility()"></span>
                  </div>
                  <div class="errorMessage" *ngIf="(!!f.password.invalid && !!f.password.dirty && !!f.password.errors.minlength) || (submitted && f.password.invalid && f.password.errors.minlength)">Minimum 6 characters needed.</div>
                </li>
                <li class="buttonWrap">
                  <button type="submit" class="btn btn-solid login" [disabled]="formLogin.invalid"><i class="icon-submit"></i>Save-change</button>
                </li>

              </ul>
            </form>
      </div>

  </div>

</div>
