<div class="authForm">
  <div class="shadowBox">
    <div class="progressBar">
      <app-loader></app-loader>
    </div>
    <div class="left-container">
      <div class="logoHeader">
        <img src="/assets/images/SL-logo.svg" alt="Monitor">
      </div>
      <div class="video-wrapper" (click)="openDialog('https://www.youtube.com/embed/J5tWbmD7alE')">
        <div class="monitor">
          <img src="/assets/images/video-thumb.png" alt="Monitor">
        </div>
      </div>
    </div>
    <div class="right-container">
      <ng-container *ngIf="showInvalidPage; else invalidChangePass">
      <h2 class="headings">Change Password</h2>
        <form [formGroup]="formReset" (ngSubmit)="onReset()" novalidate autocomplete="off">
        <ul class="formFieldsList">
          <li>
            <label class="labels newFormatting">New Password</label>
            <input type="password" class="fields newFormatting" formControlName="password" />
          </li>
          <li>
            <label class="labels newFormatting">Confirm Password</label>
            <input [type]="showPassword?'text':'password'" class="fields newFormatting" formControlName="confirmpassword" />
          </li>
          <li class="buttonWrap">
            <button type="submit" class="btn btn-solid login" [disabled]="formReset.invalid"><i class="icon-submit"></i>Save</button>
          </li>
        </ul>
      </form>
      </ng-container>
      <ng-template #invalidChangePass><h2 *ngIf="checkResetPasswordStatus && !showInvalidPage">{{ checkResetPasswordStatus.message }}</h2></ng-template>
    </div>
  </div>
</div>