<div class="authForm">

  <div class="shadowBox">
      <div class="progressBar">
          <app-loader></app-loader>
      </div>
      <div class="left-container">
          <div class="logoHeader">
              <img src="/assets/images/SL-logo.svg" alt="Monitor">
          </div>
          <div class="video-wrapper" (click)="openDialog('https://www.youtube.com/embed/J5tWbmD7alE')">
                  <div class="monitor">
                      <img src="/assets/images/video-thumb.png" alt="Monitor">
                  </div>
          </div>

      </div>
      <div class="right-container">

          <ul class="headings">
              <li>
                <a>Change Password</a>
              </li>
            </ul>
            <form  [formGroup]="formReset" (ngSubmit)="onReset()" novalidate autocomplete="off">
              <ul class="formFieldsList">
                <li>
                  <label class="labels newFormatting">New Password</label>
                  <input type="password" class="fields newFormatting"  formControlName="password" />
                 
                </li>
                <li>
                  <label class="labels newFormatting">Confirm Password</label>
                  <div class="password">
                      <input [type]="showPassword?'text':'password'" class="fields newFormatting"    formControlName="confirmpassword" />
                      <span  type="button" class="icon-eye-hide"  (click)="togglePasswordVisibility()"></span>
                  </div>
  
                <li class="buttonWrap">
                  <button type="submit" class="btn btn-solid login" [disabled]="formReset.invalid"><i class="icon-submit"></i>Save-change</button>
                </li>

              </ul>
            </form>
      </div>

  </div>

</div>
