.profile-container {
    position: relative;
    width: 60%;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 65px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    padding: 16px;
    border-radius: 4px;
    background: rgba(235, 238, 239, 0.4);
    .profile-name{
        text-align: center;
        padding-top: 60px;
    }
    .icon-container{
        display: flex;
        font-size: 80px;
        padding: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 25%;
        border: 1px solid #ccc;
        height: 87px;
        border-radius: 50px;
        position: absolute;
        top: -48px;
        background: rgba(0, 188, 212, 0.8);
        left:38%;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        .icon-company{
            padding:0;
        }
    }
    ul{
        margin-top: 24px;
        li{
            width: 50%;
            display: inline-block;
            margin: 7px 0;
            word-wrap: break-word;
            &:nth-child(odd) {
                color: #777;
                text-align: right;
                padding-right: 35px;
            }
        }
    }

}
.addresses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px;
    h4{
        padding: 0;
    }
    .address{
        position: relative;
        width: 30%;
        height: 130px;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 16px;
        border-radius: 4px;
        background: rgba(187, 226, 239, 0.4);
        margin: 10px;
        .address-icon-container{
            width: 50px;
            display: flex;
            padding: 0;
            align-content: center;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            height: 87px;
            position: absolute;
            background: rgba(0, 188, 212, 0.8);
        }
        .address-content{
            position: absolute;
            left: 89px;
        }
        }
    }
