<h2>{{title}}</h2>
<mat-divider></mat-divider>
<div class="profile-container"  *ngIf="companyinfo">
    <div class="icon-container"><i class="icon-company"></i></div>
    <div class="profile-name">
        <h1>{{companyinfo.LegalName}}</h1>
    </div>
    <div class="company-info">
        <ul>
            <li>Company BlockChain Id:</li>
            <li>{{companyinfo.CompanyBlockChainId}}</li>
            <li>Name:</li>
            <li>{{companyinfo.Name}}</li>
            <li>Legal Name:</li>
            <li>{{companyinfo.LegalName}}</li>
            <li>Base Currency:</li>
            <li>{{companyinfo.BaseCurrency.CurrencyName}}</li>
            <li>Phone:</li>
            <li>{{companyinfo.Contact.Telephone}}</li>
            <li>Email:</li>
            <li>{{companyinfo.CompanyEmail}}</li>
            <!-- <li>Web Links:</li>
            <li>user.com</li> -->
        </ul>
    </div>
</div>
<div class="addresses" *ngIf="companyinfo">
        <div class="address">
            <div class="address-icon-container"> <mat-icon>location_city</mat-icon></div>
               <div class="address-content"> 
                    <h4>Address(Office)</h4>
                    <p>{{companyinfo.Address.AddressLine1}}</p>
                    <p>{{companyinfo.Address.CityName}}</p>
                    <p>{{companyinfo.Address.State}}</p>
                    <p>{{companyinfo.Address.Country}}</p>
                    <!-- <p>{{companyinfo.Address.PostalZone}}</p> -->
                </div>
               
            </div>
        <div class="address">
               <div class="address-icon-container"> <mat-icon>location_city</mat-icon></div>
               <div class="address-content">
                <h4>Customer Face Address</h4>
                <p>{{companyinfo.CustomerFaceAddress.AddressLine1}}</p>
                <p>{{companyinfo.CustomerFaceAddress.CityName}}</p>
                <p>{{companyinfo.CustomerFaceAddress.State}}</p>
                <p>{{companyinfo.CustomerFaceAddress.Country}}</p>
                </div>
            </div>
        <div class="address">
               <div class="address-icon-container"> <mat-icon>location_city</mat-icon></div>
               <div class="address-content">
                    <h4>Legal Address</h4>
                    <p>{{companyinfo.LegalAddress.AddressLine1}}</p>
                    <p>{{companyinfo.LegalAddress.CityName}}</p>
                    <p>{{companyinfo.LegalAddress.State}}</p>
                    <p>{{companyinfo.LegalAddress.Country}}</p>
                </div>
            </div>
</div>

