<h2>{{title}}</h2>
<mat-divider></mat-divider>
<div class="profile-container">
    <div class="icon-container"><i class="icon-company"></i></div>
    <div class="profile-name">
        <h1>Apple Venture</h1>
    </div>
    <div class="company-info">
        <ul>
            <li>Source Reference:</li>
            <li>124855782788875</li>
            <li>Name:</li>
            <li>Sandbox_company_US_2</li>
            <li>Legal Name:</li>
            <li>Sandbox_company_US_2</li>
            <li>Base Currency:</li>
            <li>USD</li>
            <li>Financial Year Start:</li>
            <li>12/08/1991</li>
            <li>Phone:</li>
            <li>7377647878</li>
            <li>Email:</li>
            <li>User@gmail.com</li>
            <li>Web Links:</li>
            <li>user.com</li>
        </ul>
    </div>
</div>
<div class="addresses">
        <div class="address">
            <div class="address-icon-container"> <mat-icon>location_city</mat-icon></div>
               <div class="address-content"> 
                    <h4>Address(Office)</h4>
                    <p>123 Seira Way</p>
                    <p>San Pablo</p>
                    <p>CA</p>
                    <p>87999</p>
                </div>
               
            </div>
        <div class="address">
               <div class="address-icon-container"> <mat-icon>location_city</mat-icon></div>
               <div class="address-content">
                <h4>Address(Legal)</h4>
                <p>123 Seira Way</p>
                <p>San Pablo</p>
                <p>CA</p>
                <p>87999</p>
                </div>
            </div>
        <div class="address">
               <div class="address-icon-container"> <mat-icon>location_city</mat-icon></div>
               <div class="address-content">
                    <h4>Address(Customer Service)</h4>
                    <p>123 Seira Way</p>
                    <p>San Pablo</p>
                    <p>CA</p>
                    <p>87999</p>
                </div>
            </div>
</div>

