<h2>{{title}}</h2>

<button (click)="getCustomers()" class="btn btn-small uppercase btn-solid btn-deepblue"> Get Customers</button>
<button (click)="getVendors()" class="btn btn-small uppercase btn-solid btn-deepblue"> Get Vendors</button>
<button (click)="getinvoices()" class="btn btn-small uppercase btn-solid btn-deepblue"> Get Invoices</button>
<button (click)="getBills()" class="btn btn-small uppercase btn-solid btn-deepblue">Get bills</button>
<button (click)="getCompanyInformation()" class="btn btn-small uppercase btn-solid btn-deepblue">Get company Information</button>
<button (click)="getUserProfileInformation()" class="btn btn-small uppercase btn-solid btn-deepblue">Get user information</button>
<button (click)="getCompanies()" class="btn btn-small uppercase btn-solid btn-deepblue">Get list of companies</button>
<br/>
<textarea cols="150" rows="30" [(ngModel)]="value"></textarea>

