.logout{
    color: #00add8;
    .powerButton{
        background-color: transparent;
        color: #00add8;
        font-size: 1.5rem;
        height: 1.7em;
        width: 1.3em;
        line-height: 1.7em;
        text-align: center;
        border: none;
        cursor: pointer;
        i{
            padding-right: 0;
        }
    }
    .logout-text{
        font-size: 14px;
    }
}
