<div>
  <div class="terms-conditions">
    <div class="fixhead">
        <h1>Single Ledger Terms of Service</h1>
        <h2>Welcome to Signle Ledger!</h2>
    </div>
    <div class="">

      <p>You must follow any policies made available to you within the Services.</p>
      <p>Don’t misuse our Services. For example, don’t interfere with our Services or try to access them using a method
        other than the interface and the instructions that we provide. You may use our Services only as permitted by law,
        including applicable export and re-export control laws and regulations. We may suspend or stop providing our
        Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.
      </p>
      <p>Using our Services does not give you ownership of any intellectual property rights in our Services or the content
        you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise
        permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Don’t
        remove, obscure, or alter any legal notices displayed in or along with our Services.</p>

      <!-- <h2>
        <div id="toc-account" class="service-heading"></div>Your Single Ledger Account
      </h2>
      <p>You may need a Single Ledger Account in order to use some of our Services. You may create your own Single Ledger Account, or
        your Single Ledger Account may be assigned to you by an administrator, such as your employer or educational institution.
        If you are using a Single Ledger Account assigned to you by an administrator, different or additional terms may apply and
        your administrator may be able to access or disable your account.</p> -->
      <!-- <h2>
        <div id="toc-protection" class="service-heading"></div>Privacy and Copyright Protection
      </h2>
      <p>Google’s <a href="">privacy policies</a> explain how we treat your personal data and protect your
        privacy when you use our Services. By using our Services, you agree that Single Ledger can use such data in accordance
        with our privacy policies.</p>
      <p>We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to
        the process set out in the U.S. Digital Millennium Copyright Act.</p> -->
      <h2>
        <div id="toc-content" class="service-heading"></div>Your Content in our Services
      </h2>
      <p>Some of our Services allow you to upload, submit, store, send or receive content. You retain ownership of any
        intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</p>
      <!-- <h2>
        <div id="toc-software" class="service-heading"></div>About Software in our Services
      </h2>
      <p>When a Service requires or includes downloadable software, this software may update automatically on your device
        once a new version or feature is available. Some Services may let you adjust your automatic update settings.</p> -->
      <!-- <h2>
        <div id="toc-modification" class="service-heading"></div>Modifying and Terminating our Services
      </h2>
      <p>We are constantly changing and improving our Services. We may add or remove functionalities or features, and we
        may suspend or stop a Service altogether.</p>
      <p>You can stop using our Services at any time, although we’ll be sorry to see you go. Single Ledger may also stop
        providing Services to you, or add or create new limits to our Services at any time.</p>
      <p>We believe that you own your data and preserving your access to such data is important. If we discontinue a
        Service, where reasonably possible, we will give you reasonable advance notice and a chance to get information out
        of that Service.</p> -->
      <h2>
        <div id="toc-warranties-disclaimers" class="service-heading"></div>Our Warranties and Disclaimers
      </h2>
      <p>We provide our Services using a commercially reasonable level of skill and care and we hope that you will enjoy
        using them. But there are certain things that we don’t promise about our Services.</p>
      <h2>
        <div id="toc-liability" class="service-heading"></div>Liability for our Services
      </h2>
      <p>When permitted by law, Google, and Google’s suppliers and distributors, will not be responsible for lost profits,
        revenues, or data, financial losses or indirect, special, consequential, exemplary, or punitive damages.</p>
      <p>To the extent permitted by law, the total liability of Google, and its suppliers and distributors, for any claims
        under these terms, including for any implied warranties, is limited to the amount you paid us to use the Services
        (or, if we choose, to supplying you the Services again).</p>

      <!-- <h2>
        <div id="toc-business-uses" class="service-heading"></div>Business uses of our Services
      </h2>
      <p>If you are using our Services on behalf of a business, that business accepts these terms. It will hold harmless
        and indemnify Single Ledger and its affiliates, officers, agents, and employees from any claim, suit or action arising
        from or related to the use of the Services or violation of these terms, including any liability or expense arising
        from claims, losses, damages, suits, judgments, litigation costs and attorneys’ fees.</p>
      <h2>
        <div id="toc-about" class="service-heading"></div>About these Terms
      </h2> -->
      <p>If there is a conflict between these terms and the additional terms, the additional terms will control for that
        conflict.</p>
      <p>These terms control the relationship between Single Ledger and you. They do not create any third party beneficiary
        rights.</p>
      <p>For information about how to contact Google, please visit our <a href="">contact
          page</a>.</p>
    </div>
    <button class="btn btn-solid accept" (click)="accept(true)">Accept</button>
    <button class="btn btn-solid accept" (click)="accept(false)">Decline</button>
  </div>
</div>




