.terms-conditions{
    padding:10px;
    h1{
        text-align: center;
    }
    p{
      font-size: 12px;
      line-height: 20px;
    }
    .fixhead{
      background: #00968821;
      border: 1px solid #0080001f;
      border-radius: 6px;
      margin-bottom: 10px;
    }

    button{
        &.accept{
            display: inline-block;
            width: 48%;
            font-size: 1.2rem;
            font-weight: 700;
            height: 2.45em;
            background-color: #00add8;
            margin: 5px;
            margin-top: 30px;
        }
    }
    .content{
      h2{
        font-size: 1rem;
      }
    }
}
