.text-label{
    font-size: 0.93rem;
    color: #3c3c3c;
    font-weight: 700;
    padding-bottom: 0.5em;
}
.select-box{
    padding-left: 10px;
}
.fliter-for{
    width: 230px;
}

.defaultTable .dataTable th.tick-checkbox {
    text-align: center;
}

.defaultTable .dataTable td{
    &.duedate{
        color:#ef7070;
    }
}
.invoice-content{
    border: 1px solid #c5c0c0;
   // box-shadow: 6px 9px 7px -7px rgba(117,115,117,1);
    box-shadow: 1px 1px 9px -2px #9a9292;
    border-radius: 0 0 7px 7px;
}

.defaultTable .dataTable th.tick-checkbox {
    text-align: center;
}

.defaultTable .dataTable td{
    &.duedate{
        color:#ef7070;
    }
}
.filter-for{
    width: 230px;
}
.example-container {
    width: auto;
    overflow: auto;
  }

  table {
   width: 1106px;
   font-weight: 500;
  // width: 1037px;
  }

  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }

  th, td{
      &.mat-column-position{
        padding-left: 8px;
      }
  }
  .mat-table-sticky{
      &:first-child {
        border-right: 1px solid #e0e0e0;
      }
      &:last-child {
        text-align: right;
        padding-right: 10px;
      }
  }


tr{
    &.mat-row{
        &.selected, &:hover{
            border-bottom-color: #00add8;
            border-top-color: #00add8;
            background: #a7d7ec;
            td {
                border-bottom-color: #00add8;
                border-top-color: #00add8;
            }
        }
    }
}
td.mat-column-Number {
    color: #00add8;
}
td.mat-column-DueDate {
    color: #f1746a;
}
td.mat-column-BlockchainStatus.partialy-paid,.paid {
    color: #c8ef8d;
}
td.mat-column-BlockchainStatus.open {
    color: #00add8;
}
td.mat-column-BlockchainStatus.declined {
    color: #f30f0f;;
}

tr.mat-header-row {
    height: 35px!important;
    background: #e1f1f5;
}
th.mat-header-cell {
     font-weight: 500;
    font-size: 14px;
}
.mat-paginator-range-label span {
    width: 30px;
    height: 30px;
    display: inline-flex;
    border: 1px solid;
    text-align: center;
    background: #00add8;
    border-radius: 5px;
    color: #fff;
    justify-content: center;
    align-items: center;
}
tr td button{
      margin-left: 5px;
      padding: 1.2px;
      background: #ffffff;
      border: 1px solid #00add8;
      float: right;
      border-radius: 20px;
      display: flex;
}
.trasactions{
    display: inline-block;
    span{
      height: 5px;
      width: 5px;
      background-color: #00add8;
      border-radius: 50%;
      display: inline-block;
      margin: 0 1px;
    }
}
.pagination{
    display: flex;
    justify-content: center;
    padding: 25px 0;
    .custom-pagination {
        * {
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: -moz-none;
          -o-user-select: none;
          user-select: none;
          }

        .disabled {
          pointer-events: none;
          background: #00a3b8;
          opacity: 0.7;
        }

        .nextprevious{
          display: inline-block;
          ::selection { background: transparent; }
          ::-moz-selection { background: transparent; }
          background: #e7ecec;
          margin: 1px 4px;
          border-radius: 8px;
          text-align: center;
          color: #4a4949;
          font-weight: 700;
          padding: 0.18em 0.8em;
          cursor: pointer;
          line-height: 1.8;
          vertical-align: middle;

        };

        .page-number{
          :hover{
            background: #e7ecec;
            border-radius:8px;
          }

        display: inline-block;
        margin: 0px 4px;
        border-radius:8px;
        text-align: center;
        color: #4a4949;
        }
      }
}

select::-ms-expand {
  display: none;
}

.page-number.current{
  background: #00add8!important;
  color:#ffffff!important;
  pointer-events: none;
}

.page-number span{
  font-weight: 700;
  display: block;
  width: 2em;
  height: 2em;
  font-size: 1em;
  cursor: pointer;
  line-height: 2;
  //border: 2px solid #ffffff;
}

.pagination-previous,
.pagination-next
{
  color:#00a3b8!important;
  display: inline-block;
  font-weight: bold;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

// tr.example-element-row:not(.example-expanded-row):hover {
//   background: #777;
// }

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
td.mat-cell.cdk-column-expandedDetail.mat-column-expandedDetail.ng-tns-c12-19.ng-star-inserted {
  background-color: #00add8;
}
