
<div class="wrapper">
  <div class="header">
      <div class="progressBar" >
        <mat-progress-bar *ngIf="!isBusinessLoaded" [mode]="'indeterminate'" [color]="'warn'"></mat-progress-bar>
        <app-loader></app-loader>
      </div>
    <div class="logoText">
      <app-logo></app-logo>
    </div>
    <div class="userInfo">
      <app-userinfo></app-userinfo>
    </div>
    <!-- <div class="logoutButton">
      <app-logout></app-logout>
    </div> -->
  </div>
  <div class="content-wrapper">
    <div class="bussiness-header">
    <h2>{{title|| 'N/A' }}</h2>
      <span class="connectBtn">
        <app-addbusiness *ngIf="isBusinessLoaded && totalRec > 0" ></app-addbusiness>
      </span>
    </div>
    <div class="businesslistAvial" >
      <div class="searchPanel clearfix">
        <form  class="search-panel-form" [formGroup]="formSearch" (ngSubmit)="onFilter()" novalidate autocomplete="off">
          <ul class="floatingList searchBlock">
            <li>
              <label class="labels">Filter For</label>

            </li>
            <li>
              <input type="text" placeholder="Business Name " class="fields" formControlName="keywords"
              [ngClass]="{error: (f.keywords.invalid && f.keywords.dirty) || (submitted && f.keywords.invalid)}" />
              <input type="submit" class="btn btn-medium uppercase btn-solid btn-deepblue" value="Filter"/>
              <input type="Reset" class="btn btn-medium uppercase btn-solid" value="Reset" (click)="onReset()"/>
            </li>
          </ul>
        </form>
      </div>
      <ul class="companyList" *ngIf="isBusinessLoaded && companylist && companylist.length > 0; else nobusiness">
        <li *ngFor="let company of companylist| paginate: config">

          <div class="cellWrapper clearfix">
            <div class="whiteWrapper">
              <div class="companyWrapper">
                <ul class="dataList">
                  <li>
                    <div class="company-name">Company Name</div>
                    <div> <h6>{{company?.legalName|| 'N/A' }}</h6></div>
                  </li>
                  <li>
                    <div class="dataLabel">Connected To</div>
                    <div class="dataValues">{{company?.organization | organisationpipe }}</div>
                  </li>
                  <li>
                    <div class="dataLabel">Register Date</div>
                    <div class="dataValues">{{company?.registeredOnProviderDate |date }}</div>
                  </li>
                  <li>
                    <div class="dataLabel">OnBoard Date</div>
                    <div class="dataValues">{{company?.onBoardedDate |date }}</div>
                  </li>
                </ul>
                <ul class="buttonList">
                  <!-- <li>
                    <button type="button" class="btn btn-outline btn-icon uppercase redBtn" (click)="openDialog(company.id)"><i
                        class="icon-cross"></i>disconnect</button>
                  </li> -->
                  <li style="text-align: center;">
                    <button type="button" class="btn btn-outline btn-icon uppercase blueBtn" (click)="viewBusiness(company.id)"><i
                        class="icon-arrow-right"></i><a >Company Info</a></button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="pagination">
        <pagination-template  #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event" [class.disabled]= "length < config.itemsPerPage" >
          <div class="custom-pagination">
              <div style="display:inline-block" *ngIf="!(p.isFirstPage() && p.isLastPage())">
                <div class="nextprevious" [class.disabled]="p.isFirstPage()">
                  <span  (click)="p.previous()">
                    <i class="icon-arrow-left"></i>
                      </span>
                  </div>
                  <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                        <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label || 'N/A' }}</span>
                      <div *ngIf="p.getCurrent() === page.value">
                        <span>{{ page.label || 'N/A' }}</span>
                      </div>
                  </div>
                  <div class="nextprevious"  [class.disabled]="p.isLastPage()">
                    <span  (click)="p.next()"><i class="icon-arrow-right"></i> </span>
                  </div>
            </div>
          </div>
        </pagination-template>
      </div>
    </div>
    <ng-template #nobusiness>
        <div class="nobusiness" *ngIf="companylist && companylist.length == 0">
            <div class="noData">
              <h3>Didn't find any business?</h3>
              <p>You can add new business using add business button below.</p>
              <div class="connectButton">
                <span class="connectBtn">
                   <app-addbusiness></app-addbusiness>
                </span>
              </div>
            </div>
          </div>
    </ng-template>
  </div>
</div>

