<div class="wrapper">
  <div class="header">
    <div class="progressBar">
      <!-- <mat-progress-bar *ngIf="!isBusinessLoaded" [mode]="'indeterminate'" [color]="'warn'"></mat-progress-bar> -->
      <app-loader></app-loader>
    </div>
    <div class="logoText">
      <app-logo></app-logo>
    </div>
    <div class="userInfo">
      <app-userinfo></app-userinfo>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="bussiness-header">
      <h2>{{title|| 'N/A' }}</h2>
      <span class="connectBtn">
        <app-addbusiness *ngIf="isBusinessLoaded && totalRec > 0"></app-addbusiness>
      </span>
    </div>
    <div class="businesslistAvial">
      <div class="searchPanel clearfix" *ngIf="isBusinessLoaded">
        <form class="search-panel-form" [formGroup]="formSearch" (ngSubmit)="onFilter()" novalidate autocomplete="off">
          <ul class="floatingList searchBlock">
            <li>
              <label class="labels">Filter For</label>
            </li>
            <li>
              <input type="text" placeholder="Business Name " class="fields" formControlName="keywords"
                [ngClass]="{error: (f.keywords.invalid && f.keywords.dirty) || (submitted && f.keywords.invalid)}" />
              <input type="submit" class="btn btn-medium uppercase btn-solid btn-deepblue" value="Filter" />
              <input type="Reset" class="btn btn-medium uppercase btn-solid" value="Reset" (click)="onReset()" />
            </li>
          </ul>
        </form>
      </div>
      <ul class="companyList" *ngIf="isBusinessLoaded && companylist && companylist.length > 0">
        <li *ngFor="let company of companylist| paginate: { itemsPerPage: itemsPerPageCount, currentPage: p }">
          <div class="cellWrapper clearfix">
            <div class="whiteWrapper">
              <div class="companyWrapper">
                <ul class="dataList">
                  <li>
                    <div class="company-name">Company Name</div>
                    <div>
                      <h6>{{company?.legalName|| 'N/A' }}</h6>
                    </div>
                  </li>
                  <li>
                    <div class="dataLabel">Connected To</div>
                    <div class="dataValues">{{company?.organization | organisationpipe }}</div>
                  </li>
                  <li>
                    <div class="dataLabel">Register Date</div>
                    <div class="dataValues">{{company?.registeredOnProviderDate |date }}</div>
                  </li>
                  <li>
                    <div class="dataLabel">OnBoard Date</div>
                    <div class="dataValues">{{company?.onBoardedDate |date }}</div>
                  </li>
                </ul>
                <ul class="buttonList">
                  <!-- <li>
                    <button type="button" class="btn btn-outline btn-icon uppercase redBtn" (click)="openDialog(company.id)"><i
                        class="icon-cross"></i>disconnect</button>
                  </li> -->
                  <li style="text-align: center;">
                    <button type="button" class="btn btn-outline btn-icon uppercase blueBtn"
                      (click)="viewBusiness(company.id)"><i class="icon-arrow-right"></i><a>Company Info</a></button>
                  </li>
                  <li style="text-align: center;">
                    <button type="button" class="btn btn-outline btn-icon uppercase redBtn"
                      (click)="OpenDialog(company.id, false)"><i class="icon-arrow-right"></i><a>Disconnect</a></button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="list" *ngIf="Totalrec>0">
           <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    </div>
      <div class="nobusiness" *ngIf="!isBusinessLoaded && companylist && companylist.length == 0">
        <div class="noData">
          <h3>Didn't find any business?</h3>
          <p>You can add new business using add business button below.</p>
          <div class="connectButton">
            <span class="connectBtn">
              <app-addbusiness></app-addbusiness>
            </span>
          </div>
        </div>
      </div>

      <div class="nobusiness" *ngIf="isBusinessLoaded && companylist && companylist.length == 0">
        <div class="noData">
          <h3>Didn't find any business?</h3>
        </div>
      </div>
  </div>
  <div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
          <h4 class="modal-title">Disconnect Company</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" form>
               <div class="form-group" >
                    <div class="d-flex align-items-center justify-content-between flex-wrap radio-with-icon grow-width">
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <span class="custom-radio">
                                    <i class="icon-cross-square"></i>
                                    <i class="icon-tick-square"></i>
                                   Are you sure, you want to disconnect the company?
                                </span>
                            </label>
                        </div>
                    </div>
                </div>                 
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center">
         <button type="button" class="btn btn-primary btn-green" [class.disabled]="!consent" (click)="DisconnectBusiness()"
           data-dismiss="modal">Yes</button>
           <button type="button" class="btn btn-primary btn-green" [class.disabled]="!consent" (click)="DismissDialog()"
           data-dismiss="modal">No</button>
       </div>
  </ng-template>
  </div>
</div>
