<div class="authForm">

    <div class="shadowBox">
        <div class="left-container">
            <div class="logoHeader">
                <img src="/assets/images/SL-logo.svg" alt="Monitor">
            </div>
            <div class="video-wrapper" (click)="openDialog('https://www.youtube.com/embed/J5tWbmD7alE')">
                    <div class="monitor">
                        <img src="/assets/images/video-thumb.png" alt="Monitor">
                    </div>
            </div>

        </div>
        <div class="right-container">
            <ul class="headings">
                <li>
                  <a>Sign In</a>
                </li>
              </ul>
              <form  [formGroup]="formLogin" (ngSubmit)="onLogin()" novalidate autocomplete="off">
                <ul class="formFieldsList">
                  <li>
                    <label class="labels newFormatting">Email</label>
                    <input type="email" class="fields newFormatting"  [ngClass]="{error: (f.username.invalid && f.username.dirty) || (submitted && f.username.invalid)}" formControlName="username" />
                    <div class="errorMessage" *ngIf="(f.username.invalid && f.username.dirty && f.username.errors.email) || (submitted && f.username.invalid && f.username.errors.email)">Please enter a valid email address.</div>
                  </li>
                  <li>
                    <label class="labels newFormatting">Password</label>
                    <div class="password">
                        <input type="password" class="fields newFormatting"  [ngClass]="{error: (f.password.invalid && f.password.dirty) || (submitted && f.password.invalid)}" formControlName="password" />
                        <button  type="button" class="icon-eye-hide"></button>
                    </div>
                    <div class="errorMessage" *ngIf="(f.password.invalid && f.password.dirty && f.password.errors.minlength) || (submitted && f.password.invalid && f.password.errors.minlength)">Minimum 6 characters needed.</div>
                  </li>
                  <li class="buttonWrap">
                    <button type="submit" class="btn btn-solid login"><i class="icon-submit"></i>Submit</button>
                  </li>
                  <li class="buttonWrap">
                      <button type="submit" class="btn btn-solid create-account"><a [routerLink]="['/signup']">Create Account</a></button>
                  </li>
                </ul>
              </form>
        </div>

    </div>

  </div>
