// .mat-bottom-sheet-container{
//         left: 15% !important;
//         position: relative !important; 
//         min-width: 680px !important;
        .blockchaintx{
            word-wrap: break-word;
            .comapany-name{
                font-size: 18px;
                font-weight: 600;
                padding: 10px;
                text-align: center;
                color: #00BCD4;
            }
            .companyblockchainid{
                font-size: 15px;
                font-weight: 500;
                padding: 10px;
            }
            ul{
                li{
                    border: 1px solid #ccc;
                    padding: 5px;
                    margin: 5px 0;
                    border-radius: 2px;
                    background: aliceblue;
                }
            }
        }
   // }