.blockchaintx {
  word-wrap: break-word;
}
.blockchaintx .close {
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 0%;
  padding: 12px 16px;
  font-size: 30px;
}
.defaultTable {
  overflow-x: scroll;
  margin: 10px 0px 6px 0px;
}
