<div class="title"><h2>{{title|| 'N/A' }}</h2></div>
<!-- <mat-card class="example-card">
    <mat-card-content>
      <div>
        <ul class="bill-status">
          <li class="overdue">
            <div>Overdue</div>
            <div>($645.33)</div>
          </li>
          <li class="due">
              <div>Due</div>
              <div>($645.33)</div>
          </li>
          <li class="paid">
              <div>Paid</div>
              <div>($645.33)</div>
          </li>
          <li class="total">
              <div>Total</div>
              <div>($645.33)</div>
          </li>
        </ul>
      </div>
    </mat-card-content>
</mat-card> -->
<mat-card class="example-card">
    <mat-card-content>
        <div class="bill-content">
            <div class="searchPanel clearfix" *ngIf="bills && bills.length > 0">
                <form   novalidate autocomplete="off">
                  <ul class="floatingList searchBlock">
                    <li class="filter-for">
                      <label class="labels">Filter For</label>
                      <input type="text" class="fields" placeholder="Vendor, Number or Total" />
                    </li>
                    <li class="smallFields">
                        <label class="labels">From</label>
                        <input type="text"  class="fields calendar" />
                      </li>
                      <li class="smallFields">
                        <label class="labels">To</label>
                        <input type="text" class="fields calendar" />
                      </li>
                      <li>
                        <ul>
                          <li>
                            <input type="submit" class="btn btn-medium uppercase btn-solid btn-deepblue" value="Filter"/>
                          </li>
                          <li>
                            <input type="Reset" class="btn btn-medium uppercase btn-solid" value="Reset" />
                          </li>
                        </ul>
                      </li>
                  </ul>
                </form>
            </div>
            <div class="bills-content mat-elevation-z8">
            <div class="example-container">
              <perfect-scrollbar style="max-height: 500px;">
              <table mat-table [dataSource]="dataSource" class="" *ngIf="bills && bills.length > 0">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select" >
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
                <ng-container matColumnDef="index" sticky>
                  <th mat-header-cell *matHeaderCellDef>#</th>
                  <td mat-cell *matCellDef="let element; let i = index;"> {{i+1|| 'N/A' }} </td>
                </ng-container>
                <!-- Number Column -->
                <ng-container matColumnDef="Number" sticky>
                  <th mat-header-cell *matHeaderCellDef> Bill ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.invoiceid|| 'N/A' }} </td>
                </ng-container>
                <!-- Block chain Id Column -->
                <ng-container matColumnDef="BlockchainTransactionID">
                  <th mat-header-cell *matHeaderCellDef> Blockchain Transaction ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.billid|| 'N/A' }} </td>
                </ng-container>
                <!-- Date Column -->
                <ng-container matColumnDef="Date">
                  <th mat-header-cell *matHeaderCellDef> Issue Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.issuedate|date }} </td>
                </ng-container>
                <ng-container matColumnDef="VendorName">
                  <th mat-header-cell *matHeaderCellDef> Vendor </th>
                  <td mat-cell *matCellDef="let element"> {{element.department|| 'N/A' }} </td>
                </ng-container>

                <!-- Due Date Column -->
                <ng-container matColumnDef="DueDate">
                  <th mat-header-cell *matHeaderCellDef> Due Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.duedate|date }} </td>
                </ng-container>

                <!-- Vendor Column -->
                <ng-container matColumnDef="Vendor">
                  <th mat-header-cell *matHeaderCellDef> Vendor </th>
                  <td mat-cell *matCellDef="let element"> {{element.vendor|| 'N/A' }} </td>
                </ng-container>
                <!-- Total Column -->
                <ng-container matColumnDef="Total">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let element"> {{element.total | currency:companyCurrency }} </td>
                </ng-container>
                <!-- Balance Column -->
                <ng-container matColumnDef="Balance">
                  <th mat-header-cell *matHeaderCellDef> Balance </th>
                  <td mat-cell *matCellDef="let element"> {{element.total-element.deposit  | currency:companyCurrency}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element" [class.paid]="element.Status=='Paid'" [class.partialy-paid]="element.Status=='Partialy Paid'" [class.open]="element.Status=='Open'" > {{element.Status|| 'N/A' }} </td>
                </ng-container>
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element" > {{element.Action|| 'N/A' }} </td>
                </ng-container> -->
                <!-- <ng-container matColumnDef="star" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <span><i  class="icon-arrow-right"></i></span>
                  </td>
                </ng-container> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)" [class.selected]="selection.isSelected(row)">
                </tr>

              </table>
            </perfect-scrollbar>
            </div>
            <div class="no-record" *ngIf="bills && bills.length == 0"> <span class="norecord-text"> No records found</span></div>
            <!-- <mat-paginator appStylePaginator hidePageSize [length]="15"
              [pageSize]="10" (page)="handlePage($event)"></mat-paginator> -->
          </div>
        </div>
    </mat-card-content>
</mat-card>


