mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable {
  overflow: visible;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td {
  width: 25%;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td table {
  margin-top: 30px;
  border: 1px solid #ccc;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td table tbody tr td button.edit-options {
  color: #e76d59;
  float: right;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td table tbody tr td button.edit-options i {
  padding: 0px;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td table tbody tr td button.edit-options:hover {
  background: #e76d59;
  color: #fff;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td table tbody tr td button.edit-options.editable {
  background: #e76d59;
  color: #fff;
  padding: 0.5rem;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td table tbody tr td button.edit-options.disabled {
  opacity: 0.5;
  pointer-events: none;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td .no-record .norecord-text {
  border: none;
  cursor: pointer;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td button.edit-options {
  background: transparent;
  height: 35px;
  border-radius: 0;
  font-size: 19px;
  text-align: center;
  color: #cccccc;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td button.edit-options i {
  padding: 0px;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td button.edit-options:hover {
  background: #00add8;
  color: #fff;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td button.edit-options.editable {
  background: #00add8;
  color: #fff;
  padding: 0.5rem;
}
mat-card mat-card-content .floatBoxesWrapper .floatBox .defaultTable table tbody tr td button.edit-options.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.help-btn {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.help-btn h2 {
  margin-right: 5px;
}
.icon-hover {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 24px;
}
.icon-hover img {
  width: 15px!important;
  height: 15px;
  margin-top: 18px!important;
  position: relative !important;
}
.icon-hover img:hover ~ .help {
  display: block;
}
.icon-hover .help {
  border: 1px solid #006088;
  border-radius: 0.3em;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(106, 119, 120, 0.8);
  width: 19rem;
  padding: 0.6em;
  z-index: 1;
  font-weight: 400;
  position: absolute;
  top: 44px;
  font-size: 11px;
  display: none;
  left: -13px;
}
.icon-hover .help:hover {
  display: block;
}
.icon-hover .help .arrow {
  left: 9%;
  transform: translateX(-50%);
  margin: 0;
  top: -12px;
  width: 1px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #006088;
  position: absolute;
}
.icon-hover .help .arrow:after {
  border-width: 0 13px 13px;
  top: 6px;
  left: -13px;
  position: absolute;
  display: block;
  content: "";
  border-style: solid;
  border-color: transparent transparent #fff;
}
.icon-hover .help .arrow::before {
  border-width: 0 13px 13px;
  top: 3px;
  left: -13px;
  position: absolute;
  display: block;
  content: "";
  border-style: solid;
  border-color: transparent transparent #fff;
}
.icon-hover .help span {
  color: black;
  font-size: 12px;
  text-align: center;
  display: block;
}
.icon-hover .help a span {
  z-index: 2;
  background: #fff;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  font-size: 13px;
  display: block;
  margin: 5px 0 3px;
  text-align: center;
  font-weight: 500;
}
.icon-hover .help a span:hover {
  color: #00AEDA;
}
