@phabletsMax: 767px;

img{
    display: block;
    max-width: 100%;
}

a{
    display: inline-block;
    position: relative;
    @media screen and (max-width: @phabletsMax){
        width: 80px;
    }
}