<div class="title">
  <h2>{{ title || 'None' }}</h2>
</div>
<mat-card class="example-card">
  <mat-card-content>
    <form [formGroup]="formTransaction" novalidate autocomplete="off">
      <div class="floatBoxesWrapper">
        <div class="floatBox" id="tableData">
          <div class="defaultTable">
            <table class="dataTable">
              <thead>
                <tr>
                  <th>Vendor</th>
                  <th>Platform</th>
                  <th>Mapping Type</th>
                  <!-- <th>Email On Biil</th> -->
                  <!-- <th>isActive</th> -->
                  <!-- <th>itemDesc1</th>
                  <th>itemDesc2</th>
                  <th>itemDesc3</th> -->
                  <th>COA</th>
                  <th style="text-align: center;">Action</th>
                  <!-- <th>Operation</th>
                  <th>Subject</th>
                   <th></th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of transcationList">
                  <ng-container *ngIf="item.editable">
                    <td>
                      <ng-select [items]="vendor" (change)="removeCOA($event)" [loading]="false" bindLabel="displayName"
                        placeholder="Select Vendor" appendTo="body" formControlName="Contact" required>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          <div title="{{item.displayName || 'None'}}">{{item.displayName || 'None'}}</div>
                        </ng-template>
                      </ng-select>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="!item.editable">
                    <td>
                      {{item.displayName|| 'None' }}
                    </td>
                  </ng-container>

                  <ng-container *ngIf="item.editable">
                    <td>
                      <ng-select [items]="platfrom" [loading]="false" bindLabel="name" placeholder="Select Platform"
                        formControlName="Platform" appendTo="body" required>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          <div title="{{item.name|| 'None' }}">{{item.name|| 'None' }}</div>
                        </ng-template>
                      </ng-select>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="!item.editable">
                    <td>
                      {{item.platfrom|| 'None' }}
                    </td>
                  </ng-container>

                  <ng-container *ngIf="item.editable">
                    <td>
                      <ng-select [items]="mapping" [loading]="false" bindLabel="Name" placeholder="Select Mapping"
                        appendTo="body" formControlName="Mapping" required>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          <div title="{{item.Name|| 'None' }}">{{item.Name|| 'None' }}</div>
                        </ng-template>
                      </ng-select>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="!item.editable">
                    <td>
                      {{item.mappingtype?.Name|| 'None' }}
                    </td>
                  </ng-container>

                  <!-- <ng-container *ngIf="item.editable">
                    <td><input class="input-edit" type="email" formControlName="Email"></td>
                </ng-container>
                <ng-container *ngIf="!item.editable">
                    <td>
                        {{item.vendorEmail|| 'None' }}
                    </td>
                </ng-container> -->
                  <!-- <ng-container *ngIf="item.editable">
                    <td><mat-checkbox [checked]="item.isActive" formControlName="IsActive"> {{item.isActive|| 'None' }}</mat-checkbox></td>
                </ng-container>
                <ng-container *ngIf="!item.editable">
                    <td>
                        {{item.isActive|| 'None' }}
                    </td>
                </ng-container>
                <ng-container  *ngIf="item.editable">
                  <td [hidden]="true"><input class="input-edit" type="text" formControlName="Desc1"></td>
              </ng-container>
              <ng-container *ngIf="!item.editable">
                  <td >
                      {{item.itemDescription1|| 'None' }}
                  </td>
              </ng-container>
              <ng-container *ngIf="item.editable">
                <td><input class="input-edit" type="text" formControlName="Desc2"></td>
            </ng-container>
            <ng-container *ngIf="!item.editable">
                <td>
                    {{item.itemDescription2|| 'None' }}
                </td>
            </ng-container>
            <ng-container *ngIf="item.editable">
              <td><input class="input-edit" type="text" formControlName="Desc3"></td>
          </ng-container>
          <ng-container *ngIf="!item.editable">
              <td>
                  {{item.itemDescription3|| 'None' }}
              </td>
          </ng-container>
-->

                  <ng-container *ngIf="item.editable">
                    <td>
                      <ng-select [items]="filteredCOA" [loading]="false" bindLabel="chartofaccountname"
                        placeholder="Select COA" appendTo="body" formControlName="COA" required>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          <div title="{{item.chartofaccountname|| 'None' }}">{{item.chartofaccountname|| 'None' }}</div>
                        </ng-template>
                      </ng-select>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="!item.editable">
                    <td>
                      {{item.COA|| 'None' }}
                    </td>
                  </ng-container>
                  <!-- <td></td> -->

                  <!-- <ng-container *ngIf="item.editable">
                    <td>
                        <ng-select
                                [items]="opration"
                                [loading]="false"
                                bindLabel="Name"
                                placeholder="Select opration"
                                appendTo="body"
                                formControlName="Operation"
                        >
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                              <div title="{{item.Name|| 'None' }}">{{item.Name|| 'None' }}</div>
                        </ng-template>
                        </ng-select>
                    </td>
                </ng-container>
                <ng-container *ngIf="!item.editable">
                    <td>
                        {{item.opration|| 'None' }}
                    </td>
                </ng-container> -->
                  <!-- <ng-container *ngIf="item.editable">
                      <td>
                          <ng-select
                                  [items]="SubAccount"
                                  [loading]="false"
                                  bindLabel="Name"
                                  placeholder="Select SubAccount"
                                  appendTo="body"
                          >
                          <ng-template ng-option-tmp let-item="item" let-index="index">
                                <div title="{{item.Name|| 'None' }}">{{item.Name|| 'None' }}</div>
                          </ng-template>
                          </ng-select>
                          </td>
                  </ng-container>
                  <ng-container *ngIf="!item.editable">
                      <td>
                          {{item.ItemOfSubAccount|| 'None' }}
                      </td>
                  </ng-container> -->
                  <!-- <ng-container *ngIf="item.editable">
                      <td><input class="input-edit" type="text" formControlName="Subject"></td>
                  </ng-container>
                  <ng-container *ngIf="!item.editable">
                      <td>
                          {{item.Subject|| 'None' }}
                      </td>
                  </ng-container> -->


                  <!-- <button class="btn icon-dots-vertical edit-options" [ngClass]="item.editable?'editable':'disabled'"
                    title="Actions" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{item:item}" title="Actions">
                    <mat-icon>toc</mat-icon>
                  </button> -->
                  <ng-container *ngIf="item.editable">
                  <td>
                    <button class="btn icon-dots-vertical edit-options" *ngIf="item.editable" (click)="saveRecord(item)"
                      title="Add Transaction">
                      <mat-icon>add</mat-icon>
                    </button>
                  </td>
                </ng-container>
                  <!-- <ng-container *ngIf="!item.editable">
                    <td>
                      <button class="btn icon-dots-vertical edit-options" (click) ="deleteCOAMapping(item.mappingtype.ID)" title="Delete">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container> -->
                  <!-- <button class="btn icon-dots-vertical edit-options" *ngIf="!item.editable"  title="Actions" [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{item:item}">
                    <mat-icon>toc</mat-icon>
                  </button> -->

                </tr>
              </tbody>
              <!-- <tbody *ngIf="!transcationList || !transcationList.length">
                <tr>
                  <td colspan="8" style="text-align:center;">
                      <div class="no-record ng-star-inserted">
                          <span class="norecord-text"> No Vendors Found</span>
                        </div>
                  </td>
                </tr>
              </tbody> -->
            </table>
            <div class="no-record" *ngIf="!transcationList || transcationList.length == 1"> <span class="norecord-text">
                No Records Found</span></div>
          </div>
          <!-- <button type="button" class="clickable add-button" [class.disabled]="!isCOAEnabled" (click)="addRecord()"
            title="Add Transaction ">
            <mat-icon>note_add</mat-icon>
          </button> -->
        </div>
        <mat-menu #menu="matMenu">
          <ng-template let-item="item" matMenuContent>
            <ng-container>
              <!-- <button matRipple mat-menu-item (click)="saveRecord(item)">
                <i class="icon icon-tick"></i>
                <span>Save</span>
              </button> -->
              <button matRipple mat-menu-item (click)="editRecord(item)">
                <i class="icon icon-edit"></i>
                <span>Edit</span>
              </button>
              <button matRipple mat-menu-item (click)="cancelRecord(item)">
                <i class="icon icon-cross"></i>
                <span>Cancel</span>
              </button>
            </ng-container>
          </ng-template>
        </mat-menu>
      </div>

    </form>
  </mat-card-content>
</mat-card>